@media only screen and (max-width: 600px) {
    .row h1{
        display: block
    }
    .row input,textarea{
        width: 90%;
    }
}

.row {
    padding: 3rem 5rem 3rem 5rem;
    border-bottom: 3px solid black;

}

.row:nth-child(even) img {
    float: right;
    margin-left: 1rem;
}


.row:nth-child(odd) img {
    float: left;
    margin-right: 1rem;
}

.row img{
    width: 10rem;
}

input,textarea{
    display: block;
    margin-bottom: 2rem;
    width: 25%;
}

input::placeholder, textarea::placeholder {
    font-size: 0.75rem;
}

.row label{
    margin-bottom: 1rem;
}

textarea{
    resize: none;
    height: 4rem;
}

>>>>>>> Waleed
