body {
    background: #eee;
}


*, *::before, *::after {
    box-sizing: border-box;
}

.form {

    border-radius: 30px;
    max-width: 650px;
    padding: 10px 20px 60px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}


label {
    float: left;
    width: 100px;
    margin-top: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
}

input {
    float: left;
    width: 190px;
    font-size: 16px;
    position: relative;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    border: 0.5px solid #CECECD;

}

textarea {
    resize: none;
    margin-left: 10px;
    margin-bottom: 10px;
    max-height: 100px;

}

#h {
    text-align: center;
    width: 106%;
    height: 35px;
    margin-left: -19px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Times New Roman";
    background-color: #B8B8B8;


}

input[type=submit] {
    margin-left: 120px;
    position: relative;
    top: -45px;
    color: #fff;
    background-color: #448aff;
    width: 400px;
    font-size: 16px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px !important;

}

input[type=submit]:hover {
    background: green;
}


input:focus {
    outline: 2px solid green;
}


.description-label {
    position: relative;
    display: block;
    top: -200px;
    left: 150px;
    white-space: nowrap;
    font-size: 25px;
    font-weight: 900;
    transition: tranform 1s ease;

}

.description-label::before {
    content: open-quote;
    font-size: 18px;
    font-weight: 800;
}

.description-label::after {
    content: close-quote;
    font-size: 18px;
    font-weight: 800;
}

.description-label:hover {
    transform: scale(1.4);
    color: red;
}


form input[type="text"]:not(:placeholder-shown):valid, form input[type="tel"]:not(:placeholder-shown):valid, form input[type="email"]:not(:placeholder-shown):valid form input[type="password"]:not(:placeholder-shown):valid, form input[type="number"]:not(:placeholder-shown):valid {
    background: url('../img/icons/checked.svg') no-repeat;
    background-size: 20px;
    background-position: 163px, 20px;
    padding-left: 10px !important;

}


form input[type="text"]:not(:placeholder-shown):invalid, form input[type="tel"]:not(:placeholder-shown):invalid, form input[type="email"]:not(:placeholder-shown):invalid form input[type="password"]:not(:placeholder-shown):invalid, form input[type="number"]:not(:placeholder-shown):invalid {
    background: url('../img/icons/cancel.svg') no-repeat;
    background-size: 20px;
    padding-left: 10px !important;
    background-position: 163px, 20px;
}
