* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    font-family: 'segoe ui', Serif, "Arial";

}

.container {


    padding-top: 11%;
    width: 100%;
    overflow: hidden;
    transition: padding-left 0.5s ease;

}

.picnic-table {

    overflow: scroll;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.picnic-table td, .picnic-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.picnic-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.picnic-table tr:hover {
    background-color: #ddd;
}

.picnic-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5F5F5F;
    color: white;
}

.button {
    background-color: #5F5F5F;
    color: white;
    text-align: center;
    display: inline-block;
    border: none;
    width: 100px;
    height: 35px;
    margin-left: 20px;
    font-size: 15px;

}


.filter-input {
    width: 100%;
    font-size: 15px;
    text-align: center;
    border: none;
    border-bottom: 2px #4D4D4D solid;
    overflow: hidden;
    outline: none;
    background: none;
    color: black;
}


#filter-submit {
    width: 100px;
}

.pagination {
    display: inline-block;
    margin: 90px 30%;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: black;
}

.pagination a.active {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

time {
    color: red;
}


/*Hint section*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;


}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: -70px;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*cards Section*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

.pricing {

    position: absolute;
    left: 45%;
    top: 55%;


    font-size: 0;
    opacity: 1;
    transition: opacity .2s ease;

}


.price-option {
    display: inline-block;
    width: 8em;
    vertical-align: middle;
    margin-right: 0.3125em;
    font-size: 16px;
    opacity: 1;
    transition: opacity .2s ease;
}

.price-option:last-child {
    margin-right: 0;
}

.pricing:hover .price-option:hover {

    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)


}

.price-option__detail {
    padding: 2em 0;
    background: #333333;
    color: white;
    text-align: center;
}

.price-option--low .price-option__detail {
    border-radius: .25em 0 0 0;
    height: 180px;
}

.price-option__cost,
.price-option__type {
    display: block;
}

.price-option__cost {
    font-size: 1.5em;
    color: white;
}

.price-option__type {
    font-size: .7em;
    text-transform: uppercase;
    color: white;
}

.price-option__purchase {
    position: relative;
    display: block;
    padding: .6em;
    font-size: .875em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.price-option--low .price-option__purchase {
    background: #a7d155;
    border-radius: 0 0 0 .25em;
}


.price-option__purchase:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-style: solid;
}

.price-option--low .price-option__purchase:before {
    border-color: transparent transparent #a7d155;
}

/*Inputs Check*/


form input[type="text"]:not(:placeholder-shown):valid, form input[type="tel"]:not(:placeholder-shown):valid, form input[type="email"]:not(:placeholder-shown):valid form input[type="password"]:not(:placeholder-shown):valid, form input[type="number"]:not(:placeholder-shown):valid {
    background: url('../img/icons/checked.svg') no-repeat;
    background-size: 20px;
    background-position: 5px, 20px;
    padding-left: 10px !important;

}


form input[type="text"]:not(:placeholder-shown):invalid, form input[type="text"]:not(:placeholder-shown):invalid, form input[type="email"]:not(:placeholder-shown):invalid form input[type="password"]:not(:placeholder-shown):invalid, form input[type="number"]:not(:placeholder-shown):invalid {
    background: url('../img/icons/cancel.svg') no-repeat;
    background-size: 20px;
    padding-left: 10px !important;
    background-position: 5px, 20px;
}

form input:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: 200px;
    padding: 0 30px 20px 50px;

}

.requirements {
    padding: 0 30px 0 50px;
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
}


form div {
    position: relative;
}

form div label {

    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}

form input:focus ~ .placeholder-label {
    opacity: 0;
}

form input:not(:placeholder-shown) ~ .placeholder-label {
    opacity: 0;
}

/*Error Handling*/
div#error-alert {
    visibility: hidden;


    background: #ececec;
    width: 550px;
    height: 100px;
    margin: 30px auto;
    border: 2px solid #8f2203;
    border-radius: 0px 5px 0px 5px;

}

div#error-alert .alert-heading {
    background: #c12d02;

    width: 100%;
    height: 31px;
    color: white;
    margin: 0;
    position: relative;
    top: 0px;
}

div#error-alert p {
    margin-left: 5px;
}

input[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: #333333;
    padding: 1em 3em;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    bottom: 100%;
    left: 0;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

input[data-tool-tip]:hover::after {
    transform: scale(1);
}


a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: #333333;
    padding: 1em 3em;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    bottom: 100%;
    left: 0;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-tool-tip]:hover::after {
    transform: scale(1);
}


.pid::before {
    font-family: "Font Awesome 5 Free";
    content: ' \f0c1';
    font-weight: 900;


}

#Bcake::after {
    font-family: "Font Awesome 5 Free";
    content: '   \f1fd    ';
    font-weight: 900;

}


/*Cards*/

.card {
    position: relative;
    width: 250px;
    margin: 1em;
    background: #333333;
    transition: opacity 150ms ease;
}

.card::before,
.card:after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
}

.card__img:focus {
    transform: scale(1.5);
}

.card__img:not(:focus) {
    transform: scale(1);
}

.card::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
}

.card::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
}

.card:hover::before {
    transform: scale(1.05, 1);
}

.card:hover::after {
    transform: scale(1, 1.05);
}


.card :hover .card__img {
    max-width: 250px;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;

}

.card__img:hover {
    opacity: 0.4;
}

.card:hover .card__img {

    opacity: .4;
}


.card__img {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;

}

.card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity ease-out 250ms;
}

.card:hover .card__text {
    opacity: 1;
}

.card__title {
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
}

.card-body {
    margin-top: .25em;
}


.detail-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);


}


.detail-modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.17), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation: modal-content;
    animation-duration: 0.5s;
}

@keyframes modal-content {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }

}

.detail-modal-close {
    color: #ccc;
    position: relative;
    float: right;
    top: -15px;
    font-size: 30px;
}

.detail-modal-close:hover, .detail-modal-close:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.detail-modal-header {

    padding: 15px;
    background-color: #8f2203;
    color: white;

}

.detail-modal-header h3 {
    margin: 0;
    display: inline;
}

.detail-modal-footer {
    padding: 15px;
    background-color: #8f2203;
    color: white;
}

.picnic-pid {
    background: none;
    outline: 0;
    overflow: hidden;
    cursor: pointer;
    border: 0px;
    font-size: 15px;
    font-weight: 900;
}

.time {
    padding: 30px;

    display: grid;
    grid-template-columns: auto auto auto;

}

.time strong ~ i {
    border: 1px black solid;
}

.time i {
    padding-left: 5px;
}


.details-desc {
    padding: 30px;
    color: revert;
}

.photos-container {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.photos-container img:hover, .photos-container .card:hover {
    cursor: pointer;
}

.detail-links-related {
    padding: 30px;
}

.detail-links-related a:visited {
    color: red;
    font-size: 15px;
}

.wrapper {
    position: relative;
}

.left-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}


.left-sidebar a {
    padding: 50px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;

}

.left-sidebar a:first-child {
    font-size: 23px;
    padding-top: 0px !important;
}


.left-sidebar a:hover {
    background-color: #DDDDDD;
    color: black;
}


.right-sidebar {

}


footer {

    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 3rem 5rem 4rem;
    display: grid;
    overflow-x: hidden;
    background-color: #333333 !important;
    grid-template-columns: 33.3rem 33.3rem 33.3rem;

}

footer a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 900;

}

footer strong {
    font-size: 18px;
    color: whitesmoke;
}

.purchase li, .purchase small, .purchase small strong {
    color: white;
    font-size: 15px;
    font-weight: bold;

}

.purchase {
    transition: height 1s ease;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 0;
    transition: 0.2s ease;
}

.container-news {
    position: relative;
    margin: 7% auto;
    box-shadow: 1px 1px 20px 1px black;
    background-color: #EEEEEE;
    width: 800px;
    height: auto;
    justify-content: center;
}



