body {
    background-color: #EEEEEE;
    font-family: helvetica, sans;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* CSS talk bubble */
.talk-bubble {
    background-color: lightyellow;
    box-shadow: 1px 1px 15px 1px black;
    height: 100%;
    transition: 0.3s ease;
    padding: 5px;
}

.column {
    float: left;
    width: 25%;
    margin: 55px;
    height: 400px;
    padding: 10px;
}

/* Clear floats after image containers */


* {
    box-sizing: border-box;
}

.border {
    border: 8px solid #666;
}

.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

.avatar {
    display: inline-block;
    width: 60%;
    height: 200px;
    padding: 20px;

}

