body {
  background: #eee ;  
}

.form {  
  margin-top: 50px;
  margin-bottom: 50px;


}

.form1 {
    box-shadow: 3px 3px 10px 1px black;
    padding: 0px 70px 20px;
    margin: 7rem auto;
  width: 600px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
 
 }




  input {
    float: left;
    width: 250px;
    font-size: 16px;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
  }
  label {
    float: left;
    width: 180px;
    margin-top :10px;
    font-family: "Roboto", sans-serif;
     color: rgba(0, 0, 0, 0.6);

  }

  #h{
    margin-left: 130px;
    text-transform: uppercase;
    color: #448aff;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
  }


.button {
    margin-left: 180px;
    margin-top: 20px;
    color: #fff;
    background-color:#448aff;
    width: 250px;
    font-size: 16px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
  background: green;
}

input:focus {
  outline: 2px solid green;
}

form input[type="text"]:not(:placeholder-shown):valid, form input[type="email"]:not(:placeholder-shown):valid form input[type="password"]:not(:placeholder-shown):valid, form input[type="number"]:not(:placeholder-shown):valid {
    background: url('../img/icons/checked.svg') no-repeat;
    background-size: 20px;
    background-position: 220px, 20px;
    padding-left: 10px !important;

}


form input[type="text"]:not(:placeholder-shown):invalid, form input[type="email"]:not(:placeholder-shown):invalid form input[type="password"]:not(:placeholder-shown):invalid, form input[type="number"]:not(:placeholder-shown):invalid {
    background: url('../img/icons/cancel.svg') no-repeat;
    background-size: 20px;
    padding-left: 10px !important;
    background-position: 220px, 20px;
}